language: r
sudo: false
cache: packages
env:
  global:
  - secure: "qQ6EzKL4/dwOadulUIo/qvOiMKduRMIvUY5krhJXduFx2S/UmRIynxGg56XTI5p7+4ZBBuelGM/KHgUt6hzXWbDNEsrxg5ZRTO/q6VOC+atBXDa2X45tOq7gNZZCfSH/nLWVr0/UnpO+wZeit+Sy+8JOg0R4D0Yj7qWruLx4QyGch6E7SgFC8hmzM6jCXgyx2N8D7KrKT/CafP/e7z6+qSj4Pg1ssc4KXG3UkyJ6j1xkMHfQRR9XwuJcOuT359qWYBQjWj3MSK9mb4Fgh8U3EGqflsQdYygN4dZqOrAfWETpYDDs/V3kq+7ZCuc3f6RAfPQjknHiczMwRXkKIdJpu/Qwm6+t7WGzRord4cQaS4cWImyPI6/w7t2XKAnNfC5hxz/QsyR8bV164E8ryoQ8jh873dwH42X90y0+4Tzz3tbMs4J3JYl8QgbvCfSG/xdWCk4hGUrJ3rjGc0wfDiJo6hby7tpH2moBM5Fyr0sGoc/XQlRDqYKQnSGJntDLBchlUT7aapf1hbsej3JKS3+nePe9S+bTPn4/jGiEWZqZg0AJtsB5/c2GyaKi3lcJxxoYNIVd++MHF6rxbIrPZyMYMpQX18bCHkxmvmleYKHN8U87Ywlm+U6Ukyd/W2j2kIIG2w5mD3Hg69A550ixXNoMnB/iZCOaYtUXwoCOPdEY3sA="
  - secure: "LGFpsK5trmioo18FMR07232zi2T03N0rGmcGyDnn2raiqJizq7qQ5z/2gXIy9gwzjAiuz8T+l+B3fJS5VZzmYUltOR6zhdAzldZ1SnIkzAy8wzkBNOF1guOmkcxMZtrMfXLDTsYv1/iuQBFKbK2NOohR7JCFXoicHwXIxqD+7q682jzdtBY9+KIPQ3kkdkbLkAki/1ff8SwKgpLT2Fo/huNL9GK+5w6H4n7g658m+EMKt0Ov3n05tyH1CmydLRWHG7XKWB5j8YAvJbfsJGY8syyy9XAT2koPzLEoFNxqNKx1IK3zQZ8X+ebIOBqrwRYFhNjRcSXNADNeYsCY3gNC7HEus4lZnlWpZ9tF3UpJ0eSELdSHYINb2SsFjnMt9hG/cDKEkyRSpXgmmsQaAJGXSZVSo/gw2mzBxi/KBwkpBBMaDfufaKybuaack6jdzK2JxF6h0v4CS8gsdvfnio2RUhupWWYOZxqRx/E7qnZXrd9jF8V+hpK0oq1q+MYbDl6QbHBm3HYM15adlaL91/MlfNY5OHPF/i2HjZPQvFNmZmjJjiGrRxxEMGYRZ4/stAflqRjNBdYbLbbUr7klruhO3nsYOP37en4Ef4xRDFVNNHQoiGXNuM3+Uk3RQvW6/0yxLBx4r4hyllSh5tL6vr0AuUxuYOg928iaqwNK5qzCz2Q="
r_github_packages:
- rstudio/rmarkdown
install:
- R -e "install.packages('devtools')"
- R -e "devtools::install_github('rstudio/rmarkdown')"
- wget https://github.com/mathjax/MathJax/archive/master.zip
- unzip master.zip >/dev/null
- rm master.zip
- export RMARKDOWN_MATHJAX_PATH=$PWD/MathJax-master
script:
- R -e "rmarkdown::render_site()"
- tools/pdf_all
- tools/headers
after_success:
- ./tools/deploy.sh
