name: Publish to GitHub Pages

on:
  push:
    branches:
      - master

jobs:
  Build and publish:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - name: Install tools
        run: |
          sudo apt install -y pandoc libxml2-dev libssl-dev libcurl4-openssl-dev r-base r-base-dev;
          sudo R -e "install.packages('devtools')";
          sudo R -e "devtools::install_github('rstudio/rmarkdown')";
          wget https://github.com/mathjax/MathJax/archive/master.zip;
          unzip master.zip >/dev/null;
          rm master.zip;
          export RMARKDOWN_MATHJAX_PATH=$PWD/MathJax-master;

      - name: Build site
        run: |
          R -e "rmarkdown::render_site()";
          tools/headers;

      - name: Publish
        uses: crazy-max/ghaction-github-pages@v2
        with:
          build_dir: _site
          verbose: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
